* {
  overflow: hidden;
}

.LeftSideBtn {
  color: forestgreen;
  background: #36393F;
  border-radius: 100%;
}

.LeftSideBtn:hover {
  color: white;
  background: forestgreen;
  border-radius: 15px;
}

.leftSidebar2::-webkit-scrollbar {
  display: none;
}

.mainContent::-webkit-scrollbar {
  display: none;
}

.addFriendBtnText {
  color: gray;
  font-weight: 600;
}

.addFriendBtn:hover .addFriendBtnText {
  color: rgb(173, 173, 173);
  font-weight: 600;
}

.userplus {
  display: none;
}

.menuBtn:hover .userplus {
  display: block;
}

@media (max-width: 991px) {
  .leftOptions {
    display: none;
  }

  .hideAfterLGScrn {
    display: none;
  }
}

@media (min-width: 992px) {
  .rightOptionShifting {
    float: right;
  }
}

@media (max-width: 768px) {
  .moreMenu {
    display: none;
  }

  .faUserFriends {
    display: none;
  }
}